@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

html,body{overflow-y: scroll; }




.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: aliceblue;
    padding: 20px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;

}

.content {
    flex: 1;
}

.body1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color:white;
    padding: 30px;
    gap: 100px;
    flex-shrink: 0;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 350px;
    padding: 20px;
    margin: 0;  
}

.box1-header {
    font-weight: bold;
    font-size: 46px;
    text-align: start;
}


button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: white;
    width: 90px;
    border-radius: 4px;
    border: 1px #3882f6;
}



.box2 {
    width: 420px;
    padding: 20px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.514);
    border: 2px darkgray;
    flex-shrink: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: aliceblue;
    padding: 20px;

}

.body2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    
}

.body2-header {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bolder;
    color: #1f2937;
    padding-bottom: 25px;
}

.card-container {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    border-radius: 4px;
    flex-shrink: 0;
    padding-bottom: 30px;

}

.card-text {
    padding-top: 15px;
}


.body3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #E5E7EB;
    flex-shrink: 0;
} 

.quote-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 50px;
    gap: 10px;
}

.quote {
    font-style: italic;
    font-size: 36px;
    text-align: left;
}

.quote-author {
    font-style: italic;
    font-size: 20px;
    text-align: right;
    width: 280px;
    font-weight: 900;
}


.body4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-shrink: 0;
} 

.pop-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 600px;
    padding: 20px;
    margin: 0;  
    background-color:  #3882f6;
    color: white;
    border-radius: 4px;
    align-items: center;
    justify-content: space-around;
}


.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: white;   
    width: 90px;
    border-radius: 4px;
    border: 2px solid white;
}

.pop-box-head {
    font-size: 20px;
    font-weight: bold;
}
